* {
    padding: 0;
    margin: 0;
}
body {background-color: azure;}

header {
    width: 100%;
    height: 50px;
    padding: 0px auto;
    margin: 0px auto;
    background-color: rgb(36, 155, 234);
    text-align: center;

}

header h1 {
    color: blanchedalmond;
}

h1 {
    color: black;
}

h1, h2, p {
    margin: 10px;
    padding: 10px;
}